/* 
body{
    background-image: "https://www.rochesterfirst.com/wp-content/uploads/sites/66/2023/09/AP23260646677189.jpg?w=1280";
    /* background-repeat: no-repeat; */
    /* background-size: contain; */

body{
background-image: "https://www.rochesterfirst.com/wp-content/uploads/sites/66/2023/09/AP23260646677189.jpg?w=1280";
}